body,*{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

input:focus{
    outline: none;
}

.container{
    height: 100vh;
    background: linear-gradient(to right,rgb(119, 0, 255),rgb(195, 0, 255));
    padding-top: 10vh;
}

.box{
    height: 80vh;
    width: 60%;
    background-color: white;
    border-radius: 40px;
    margin: auto;
    box-shadow: 1px 1px 10px white;
    display: flex;
}

.box1{
    width: 50%;
    margin: auto;
}

.img{
    width: 80%;
    background-color: rgba(226, 226, 226, 0.582);
    height: 300px;
    border-radius: 50%;
    margin-left: 10%;
}

.img img{
    width: 70%;
    margin: 55px;
}

.box2{
    width: 50%;
    display: block;
}

.box2 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: center;
    margin-top: 10vh;
}

.textbox{
    width: 80%;
    margin-left: 10%;
    margin-top: 5vh;
}

.icon1{
    margin-top: 5vh ;
    margin-left: 15%;
    position: relative;
}

.icon1 i{
    position: absolute;
    margin-left: 20px;
    margin-top: 18px;
    font-size: 15px;
}

.icon2{
    margin-top: 7vh ;
    margin-left: 15%;
    position: relative;
}

.icon2 i{
    position: absolute;
    margin-left: 20px;
    margin-top: 18px;
    font-size: 15px;
}

.txt{
    margin: auto;
    width: 75%;
    border: none;
    background-color: rgba(226, 226, 226, 0.582);
    height: 50px;
    border-radius: 30px;
    padding-left: 15%;
}
.txt1{
    width: 78%;
    height: 50px;
    border-radius: 30px;
    margin: auto;
    border: none;
    margin-top: 7vh;
    margin-left: 15%;
    background-color: rgb(30, 197, 66);
    font-size: large;
    color: white;
    font-weight: bold;
}

.forget{
    margin: auto;
    text-align: center;
    margin-top: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}

.forget a{
    text-decoration: none;
}

.new{
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 5vh;
    color: rgb(0, 204, 0);
}

.new a{
    padding: 5px;
    text-decoration: none;
    color: rgb(0, 204, 0);
    font-weight: bold;
}

